<ion-header>
  <ion-toolbar>
    <ion-title>Camera</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="camera-page">

    <div class="camera-container">
      <video #videoElement class="camera-feed" autoplay playsinline></video>

      <div class="camera-overlay">
        <p>Point camera at bird</p>
      </div>
    </div>

    <div class="camera-controls">
      <div class="gallery-button" (click)="openGallery()">
        <ion-icon name="images-outline"></ion-icon>
      </div>

      <button class="capture-button" (click)="captureImage()">
        <div class="capture-circle"></div>
      </button>

      <div class="flash-button" (click)="toggleFlash()">
        <ion-icon name="flash-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>