<ion-header>
  <ion-toolbar class="header">
    <div class="title">BirdFinder</div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Recently Spotted</h2>
  <ion-list *ngIf="recentBirds.length > 0; else noRecent">
    <ion-item *ngFor="let bird of recentBirds" (click)="viewBirdDetails(bird)">
      <ion-thumbnail slot="start">
        <img [src]="bird.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ bird.name }}</h2>
        <p>Spotted on {{ bird.date | date:'medium' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noRecent>
    <p>No birds spotted yet. Go find some!</p>
  </ng-template>

  <h2 class="ion-margin-top">Local Species</h2>
  <ion-list *ngIf="localSpecies.length > 0; else noLocal">
    <ion-item *ngFor="let species of localSpecies" (click)="viewBirdDetails(species)">
      <ion-thumbnail slot="start">
        <img [src]="species.image || 'assets/placeholder.png'" alt="{{ species.name }}"
          (error)="handleImageError($event)" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ species.name }}</h2>
        <p>Observed nearby</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noLocal>
    <p>No local species found yet.</p>
  </ng-template>

</ion-content>

<ion-footer>
  <app-navbar></app-navbar>
</ion-footer>