<ion-header>
  <ion-toolbar>
    <ion-title>BirdFinder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Recently Spotted</h2>
  <ion-list *ngIf="recentBirds.length > 0; else noRecent">
    <ion-item *ngFor="let bird of recentBirds">
      <ion-thumbnail slot="start">
        <img [src]="bird.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ bird.name }}</h2>
        <p>Spotted on {{ bird.date | date:'medium' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noRecent>
    <p>No birds spotted yet. Go find some!</p>
  </ng-template>

  <div id="container">
    <ion-buttons>
      <ion-button [routerLink]="['/home']">Home</ion-button>
      <ion-button [routerLink]="['/search']">Search</ion-button>
      <ion-button [routerLink]="['/camera']">Camera</ion-button>
      <ion-button [routerLink]="['/collection']">Collection</ion-button>
      <ion-button [routerLink]="['/profile']">Profile</ion-button>
    </ion-buttons>

  </div>
</ion-content>