<div class="custom-tab-bar">
  <div class="tab-button" (click)="navigateTo('home')">
    <ion-icon name="home"></ion-icon>
  </div>
  <div class="tab-button" (click)="navigateTo('search')">
    <ion-icon name="search"></ion-icon>
  </div>
  <div class="camera-button-container">
    <div class="camera-button" (click)="navigateTo('camera')">
      <ion-icon name="camera"></ion-icon>
    </div>
  </div>
  <div class="tab-button" (click)="navigateTo('collection')">
    <ion-icon name="bookmark"></ion-icon>
  </div>
  <div class="tab-button" (click)="navigateTo('profile')">
    <ion-icon name="person"></ion-icon>
  </div>
</div>